/* 全局颜色变量 */
:root {
  --main-font-color: #333;
  --main-color: #fd0000;
  --main-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* 字体 */
html {
  &.hmos {
    --main-font-family: "HarmonyOS_Regular", sans-serif;
  }
  &.lxgw {
    --main-font-family: "LXGW WenKai Screen", sans-serif;
  }
  .iconfont {
    font-size: 1rem;
  }
  button {
    font-family: var(--main-font-family);
  }
}

* {
  -webkit-user-drag: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
  transition: all 0.3s;
  .iconfont {
    transition: all 0.3s;
  }
  &:hover {
    color: var(--main-color);
  }
}
