@use "./scrollbar.scss";
@use "./animation.scss";


/* 全局颜色变量 */
:root {
  // --main-color: #fd0000;
  // --mian-color-text-base: #333;
  // --main-color-text-secondary: rgba(227, 118, 155, 1);
  // --main-color-card-background:  rgba(255, 255, 255, 0.9);
  // --main-color-card-border: rgba(255, 255, 255, 1);
  // --main-color-card-second-background: rgba(254, 232, 238, 1);

  --color-primary: rgba(227, 118, 155, 1);
  --color-primary-light: rgba(254, 232, 238, 1);
  --color-primary-dark: rgba(168, 80, 111, 1);
  // --color-primary: rgba(46, 204, 113, 1);
  // --color-primary-light: rgba(232, 254, 238, 1);
  // --color-primary-dark: rgba(33, 145, 80, 1);
  // --color-primary: rgba(52, 152, 219, 1);
  // --color-primary-light: rgba(238, 248, 255, 1);
  // --color-primary-dark: rgba(41, 128, 185, 1);
  --color-text-base: #333;
  --color-text-second: #7f8c8d;
  --color-text-third: #e7e8ec;
  --color-card-background: rgba(255, 255, 255, 0.8);
  --color-card-border: rgba(255, 255, 255, 1);
  --color-card-background-second: rgba(234, 234, 234, 1);
  --color-card-border-second: rgba(136, 136, 136, 1);
  --color-code-background: #f6f6f7;
  --color-success: #4CAF50;
  --color-success-background: #d5ede6;
  --color-info: #2196f3;
  --color-info-background: #e9eaff;
  --color-warning: #ff9800;
  --color-warning-background: #f4ecd5;
  --color-error: #f44336;
  --color-error-background: #f5dce1;

  // xs, sm, md, lg, xl
  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 14px;

  /* Extra Small (超小)：最小间隔，常用于图标与文字之间、元素内部极小间隙。*/
  /* Small (小)：小间隔，常用于菜单项/列表项的内边距、紧密相关的元素间距。*/
  /* Medium (中等)：标准/基准间隔，最常用的默认间距，适用于按钮、卡片内边距等。*/
  /* Large (大)：大间隔，常用于主要区块之间的间距、大标题的底部间距。*/
  /* Extra Large (超大)：区块间距，用于分隔不同内容模块，提供足够的呼吸空间。*/
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 12px;
  --spacing-lg: 16px;
  --spacing-xl: 20px;
  --main-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
    Cantarell, "Helvetica Neue", sans-serif;

  --title: 700 2em/1.2 "Helvetica Neue", sans-serif;
  --content: 1em/1.7 "Helvetica Neue", sans-serif;
  --desc: 1.1em/1.4 "Helvetica Neue", sans-serif;
  --type: 500 0.9em/1 "Helvetica Neue", sans-serif;
}


/* 字体 */
html {
  &.hmos {
    --main-font-family: "HarmonyOS_Regular", sans-serif;
  }

  &.lxgw {
    --main-font-family: "LXGW WenKai Screen", sans-serif;
  }

  .iconfont {
    font-size: 1rem;
  }

  button {
    font-family: var(--main-font-family);
  }
}

* {
  -webkit-user-drag: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--main-font-color);
  transition: all 0.3s;

  .iconfont {
    transition: all 0.3s;
  }

  &:hover {
    color: var(--main-color);
  }
}